<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BSinCS.BSinCSSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BSinCS.BSinCSSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <BSinCS.BSinCSSettings>
            <setting name="Human_Player_Name" serializeAs="String">
                <value>Micheal</value>
            </setting>
            <setting name="IsRandom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectedChip" serializeAs="String">
                <value />
            </setting>
            <setting name="ChipsToChoose" serializeAs="String">
                <value />
            </setting>
            <setting name="ShouldRemoveCard" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CardToRemove" serializeAs="String">
                <value />
            </setting>
            <setting name="Teleport" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TeleportRoom" serializeAs="String">
                <value />
            </setting>
            <setting name="Winner" serializeAs="String">
                <value />
            </setting>
        </BSinCS.BSinCSSettings>
    </userSettings>
    <applicationSettings>
        <BSinCS.BSinCSSettings>
            <setting name="AI1_Name" serializeAs="String">
                <value>Gagandeep</value>
            </setting>
            <setting name="AI2_Name" serializeAs="String">
                <value>Gaurav</value>
            </setting>
            <setting name="FalseRandom" serializeAs="String">
                <value>False</value>
            </setting>
        </BSinCS.BSinCSSettings>
    </applicationSettings>
</configuration>